@import 'tailwindcss';
@plugin 'daisyui';

* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #E1E5EC;
  background-image: linear-gradient(to bottom, #92A8D1, #F7CAC9);
  height: 100%;
  width: 100%;
  overflow: hidden;
}
@keyframes slide-down-fade {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-down-fade {
  animation: slide-down-fade 0.4s ease-out;
}