@import 'tailwindcss';
@plugin 'daisyui';

* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #E1E5EC;
  background-image: linear-gradient(to bottom, #92A8D1, #F7CAC9);
  height: 100%;
  width: 100%;
}